@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 217, 217, 217;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255; */
  }
}

body {
  color: rgb(0, 0, 0);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
